body {
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  background-image: url('https://cdn.vectorstock.com/i/preview-1x/36/48/abstract-shiny-black-and-gray-diagonal-stripes-vector-37223648.jpg');
  background-size: cover;
  color: #1c0a7e;
  text-align: center;
  display: flex;
  font-family: 'Poppins', sans-serif;
}
/* 
.home-container {
  width: 100%;
} */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

.intro-paragraph {
  max-width: 80%;
  margin-bottom: 400px;
  font-size: clamp(16px, 2vw, 24px);
  font-weight: 300;
  line-height: 1.5;
  color: aliceblue;
  margin-left: 70px;
}

.dynamic-txts {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dynamic-txts li {
  list-style: none;
  color: #cdcad3;
  font-size: clamp(16px, 3vw, 32px);
  font-weight: 300;
  position: relative;
  animation: slide 12s steps(4) infinite;
}

.dynamic-txts li span {
  position: relative;
  margin: 10px 0;
}

.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 5px;
  width: 5px;
  border-left: 2px solid hsl(0, 5%, 74%);
  animation: typing 3s steps(10) infinite;
}

.btn {
  font-size: clamp(3px, 6vw, 32px);
  padding: 5px 7px;
  /* background-color: #fbfbfd; */
  color: #170b5f;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  margin-top: -500px;
}

@keyframes slide {
  100% {
    top: -100px;
  }
}

@keyframes typing {
  40%, 60% {
    left: calc(100% + 10px);
  }
  100% {
    left: 0;
  }
}
