/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */
  /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  } */
  body {
    align-items: center;
    justify-content: center;
    min-height: 70px;
    background-image: url('https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?q=80&w=1664&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    /* background-position: center; */
    color: #e72525;
    /* padding: 10px; */
    text-align: center;
    display: flex;
  
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -180px;
  
  }
  .static-txt {
    font-size: 6vw; /* Responsive font size based on viewport width */
    font-weight: 100;
    margin-left:- 29vw; /* Responsive margin based on viewport width */
    margin-top: 0vh; /* Responsive margin based on viewport height */
    margin-bottom: 5vh;
  }
  .dynamic-txts {
    margin-left: -3vw; /* Responsive margin based on viewport width */
    height: 10vh; /* Responsive height based on viewport height */
    line-height: 10vh; /* Responsive line-height based on viewport height */
    overflow: hidden;
    margin-top:-5vh; /* Responsive margin based on viewport height */
    gap: 0;
  }
  .dynamic-txts li {
    list-style: none;
    color: #cc4141;
    font-size: 3vw; /* Responsive font size based on viewport width */
    font-weight: 300;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
    background-color: none;
  }
  @keyframes slide {
    100% {
      top: -360px;
    }
  }
  .dynamic-txts li span {
    position: relative;
    margin: 1vw 0; /* Responsive margin based on viewport width */
    line-height: 10vh; /* Responsive line-height based on viewport height */
  }
  .dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height:100px ;
    width: 100px;
    border-left: 2px solid #dd1919;
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60% {
      left: calc(100% + 1vw); /* Responsive left calculation based on viewport width */
    }
    100% {
      left: 0;
    }
  }
  .btn {
    font-size: -4vw; /* Responsive font size based on viewport width */
    padding: 2px 2px;
    background-color: #dd1919;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 1200px; /* Adjust margin as needed */
    width: 150px;
    height: 40px;
    
  }